/*
  * Name: Layout Lottery
  * Version: 1.0
  * Author: Thanh Mai
*/

@import url("bootstrap.css");
@import url("../fonts/MYRIADPRO-REGULAR.OTF");
@import url("../fonts/swiss_721_black_condensed_bt-webfont.woff");
@import url("../fonts/swiss_721_black_condensed_bt-webfont.woff2");
@import url("../fonts/swiss_721_black_condensed_bt-webfont.ttf");

/*
    * Repeatable Patterns
    * Scroll bar
    * Grid
    * Header
    * -- Logo
    * -- Menu
    * -- Menu Mobile
    * -- Search
    * Slider
    * Main Content
    * -- Footer
    * -- Scroll Bar
    * Single Post
    * -- Post Meta Container
    * ---- Meta Share
    * ---- Author Post
    * ---- Comment Area
    * ------ Comment Respond
    * Search Page
    * -- Header
    * ---- Widget Search
    * -- Footer
    * ---- Item
    * Author Page
    * Archive Page
    * Contact Page
    * -- Maps
    * -- Contact Form
    * Preloader
    * Media Queries 
*/

/* Repeatable Patterns
-------------------------------------------------------------- */
@font-face {
    font-family: 'MYRIADPRO-REGULAR';
    src: url('/fonts/MYRIADPRO-REGULAR.eot');
    src: url('/fonts/MYRIADPRO-REGULAR.woff') format('woff'), 
    url('/fonts/MYRIADPRO-REGULAR.ttf') format('truetype'), 
    url('/fonts/MYRIADPRO-REGULAR.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Swis721 BlkCn BT';
    src: url('/fonts/swiss_721_black_condensed_bt-webfont.woff') format('woff'),
    url('/fonts/swiss_721_black_condensed_bt-webfont.woff2') format('woff2'),
    url('/fonts/swiss_721_black_condensed_bt-webfont.ttf') format('truetype'), 
    font-weight: normal;
    font-style: normal;
}

*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    overflow: auto;
    font-size: 16px;
    font-family: 'Swis721 BlkCn BT', Arial, Helvetica, sans-serif;
}

body {
    font: 1rem/1.625rem Arial,Helvetica,sans-serif;
    background-color: #0e6a00;
    margin: 0;
    padding: 0;
    position: relative;
    min-width: 320px;
}

::-moz-selection { 
    color: #fff; 
    text-shadow: none; 
    background: #000; 
}

::-webkit-selection { 
    color: #fff; 
    text-shadow: none; 
    background: #000; 
}

::selection { 
    color: #fff; 
    text-shadow: none; 
    background: #000; 
}

a,
a:focus {
    font-family: Arial,Helvetica,sans-serif;
    color: #212121;
    outline: 0;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

a:hover {
    color: #333333;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

img {
    max-width: 100%;
    height: auto;
  
}

strong, b {
    font-weight: 700;
}

.margint1 { margin-top: 0.625rem; }
.margint2 { margin-top: 1.25rem; }
.margint3 { margin-top: 1.875rem; }
.margint4 { margin-top: 2.5rem; }
.margint5 { margin-top: 3.125rem; }
.margint6 { margin-top: 3.75rem; }
.marginb1 { margin-bottom: 0.625rem; }
.marginb2 { margin-bottom: 1.25rem; }
.marginb3 { margin-bottom: 1.875rem; }
.marginb4 { margin-bottom: 2.5rem; }
.marginb5 { margin-bottom: 3.125rem; }
.marginb6 { margin-bottom: 3.75rem; }

h1, h2, h3, h4, h5, h6 {
    color: #333333;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    font-weight: inherit;
}

h1 { font: 3rem/3.25rem }
h2 { font: 2.375rem/2.625rem }
h3 { font: 1.5rem/2.25rem }
h4 { font: 1.25rem/1.875rem }
h5 { font: 0.9375rem/1.5625rem }
h6 { font: 0.8125rem/1.4375rem }

input[type="checkbox"] { display: inline; }

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    color: #ccc;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
    color: #212121;
    border-color: #bbb;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.colores-animation {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    opacity: 0;
}
.colores-animation.animated {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
}

/* bootstrap resetting elements */
.btn {
    background-image: none;
}
.download {
    image
}
textarea, 
input[type="text"],
input[type="submit"],
input[type="password"], 
input[type="datetime"], 
input[type="datetime-local"], 
input[type="date"], 
input[type="month"], 
input[type="time"], 
input[type="week"], 
input[type="number"], 
input[type="email"], 
input[type="url"], 
input[type="search"], 
input[type="tel"], 
input[type="color"], 
.uneditable-input,
.dropdown-menu,
.navbar .nav > .active > a, 
.navbar .nav > .active > a:hover, 
.navbar .nav > .active > a:focus {
    -webkit-appearance: none;
    text-shadow: none;
    -webkit-box-shadow: none;
        -moz-box-shadow: none;
           -o-box-shadow: none;
            box-shadow: none;
}

/* Header */
header {
    background: url(../img/background_header.png) no-repeat;
    background-position-y: bottom;
    background-position-x: center;
    padding-bottom: 6vw;
}

.logo {
    text-align: left;
    padding-left: 0;
}

.logo img {
    width: 100%;
}

.item {
     position: relative;
    width: 19%;
    float: left;
    margin-right: 0.3125rem;
    z-index: 99999999999;
}

.items {
    position: relative;
}

.item:before {
    position: absolute;
    content: '';
    top: 3.75rem;
    left: 0;
    background-repeat: no-repeat;
    background-image: url('../img/box-down.png');
    width: 100%;
    height: 6.25rem;
    background-size: 80px;
}

.item:last-child {
    margin-right: 0;
}

.logo-text {
    width: 90%;
    margin-left: 1.0625rem;
}

.image {
    position: relative;
}

.image img,
.dream img {
    width: 100%;
}

.image:before {
    position: absolute;
    content: '';
    top: 7.125rem;
    left: 0;
    background-image: url('../img/box-down-5d.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 6.25rem;
}

.lucky img {
    margin-top: 1rem;
}

.dream {
    margin-top: 0.5rem;
}

/** Content **/
.date-time {
    margin-top: 3rem;
    margin-bottom: 1.5rem;
}

.date {
    text-align: left;
    padding-left: 0;
}

.date-time .date label,
.date-time .time label {
    font-family: 'Swis721 BlkCn BT';
    font-size: 2.5rem;
    color: #fff;
}

.date-time .date span,
.date-time .time span {
    font-family: 'Swis721 BlkCn BT';
    font-weight: bold;
    font-size: 2.5rem;
    color: #ed0b0b;
    padding: 0.625rem;
    background-color: #fff;
    margin-left: 1.875rem;
}

.chanel .label {
    margin-bottom: 1.875rem;
    text-align: left;
}

.chanel .label img {
    margin-right: 6.5625rem;
}

.chanel .label span {
    font-family: 'Swis721 BlkCn BT';
    font-weight: bold;
    font-size: 2.5rem;
    color: #fff;
    margin-right: 4.375rem;
}

.chanel-item {
    text-align: center;
    margin-top: 0.375rem;
}

.chanel-item .chanel-item-text {
    font-family: 'Swis721 BlkCn BT';
    position: relative;
    font-weight: bold;
    font-size: 2.5rem;
    color: #ed0b0b;
    text-transform: uppercase;
    text-shadow: -0.0625rem 0 white, 0 0.0625rem white, 0.0625rem 0 white, 0 -0.0625rem white;
    display: inline-block;
}

.chanel-item .chanel-item-text:before {
    position: absolute;
    content: '';
    top: 2.5rem;
    left: 0;
    width: 100%;
    height: 0.3125rem;
    background-color: #ed0b0b;
    border:0.0625rem solid #fff;
}

.chanel-item .result-5d,
.chanel-item .result-4d {
    font-family: 'Swis721 BlkCn BT';
    font-weight: bold;
    font-size: 2.8125rem;
    color: #ed0b0b;
    display: inline-block;
}

.chanel-item .result-5d span,
.chanel-item .result-4d span {
    padding: 1.25rem 1.5625rem;
    background-color: #fff;
    border:0.1875rem solid #0e6a00;
    float: left;
    margin-left: 0.3125rem;
    -webkit-box-shadow: 0px 0px 2.0625rem 0.1875rem rgba(255,255,255,0.75);
    -moz-box-shadow: 0px 0px 2.0625rem 0.1875rem rgba(255,255,255,0.75);
    box-shadow: 0px 0px 2.0625rem 0.1875rem rgba(255,255,255,0.75);
}

.chanel-item .result-2d {
    position: relative;
    float: left;
}

.chanel-item .result-3d {
    position: relative;
    float: left;
}

.chanel-item .result-2d:before,
.chanel-item .result-3d:before {
    position: absolute;
    content: '';
    top: 5.625rem;
    left: 0;
    width: 100%;
    height: 0.3125rem;
    background-color: #ed0b0b;
    border:0.0625rem solid #fff;
}

.chanel-item .result-4d {
    margin-top: 2rem;
    margin-left: 5.4rem;
}

.chanel-item .result-5d {
    margin-top: 1.75rem;
}

.avatar-5D {
    margin-top: 1.25rem;
}

.avatar-5D img,
.avatar-4D img {
    height: 100%;
}

.avatar-4D {
    margin-top: 2.1875rem;
}

.chanels {
    position: relative;
    width: 100%;
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

/* Footer */
footer {
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

.website, .facebook, .hotline, .seemore {
    font-family: 'Swis721 BlkCn BT';
    position: relative;
    font-size: 1.375rem;
    color: #fff;
    padding-left: 3.125rem;
    padding-top: 0.3125rem;
}

.website:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../img/safari.png');
    background-repeat: no-repeat;
    height: 2.0625rem;
    width: 2.0625rem;
}

.facebook:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    background-image: url('../img/facebook.png');
    background-repeat: no-repeat;
    height: 2.0625rem;
    width: 2.0625rem;
}

.hotline,
.seemore {
    text-align: right;
}

.hotline span {
    margin-right: 0.5rem;
}

.hotline:before {
    position: absolute;
    content: '';
    top: 0;
    left: 6.25rem;
    background-image: url('../img/phone.png');
    background-repeat: no-repeat;
    height: 2.0625rem;
    width: 2.0625rem;
}

.seemore:before {
    position: absolute;
    content: '';
    top: 0;
    left: 6.25rem;
    background-image: url('../img/phone.png');
    background-repeat: no-repeat;
    height: 2.0625rem;
    width: 2.0625rem;
}

/* Media Queries
-------------------------------------------------------------- */
@media only screen and (min-width: 1920px) {
}

@media only screen and (max-width: 1365px) {
}

/* Smaller than standard 1200 */
@media only screen and (max-width: 1199px) {
    html {
        font-size: 14px;
    }

    header {
        background: url(../img/background_header.png) no-repeat;
        background-position-y: bottom;
        background-position-x: center;
        padding-bottom: 8vw;
    }

    .image:before {
        top: 80%;
        background-size: 100%;
    }

    .item {
        width: 18%;
    }

    .item:before {
        top: 75%;
        background-size: 100% 30%;
    }

    .chanel-item .result-4d {
        margin-left: 5rem;
    }

    .avatar-5D img, .avatar-4D img {
        width: 45%;
    }

    .website:before,
    .facebook:before,
    .hotline:before,
    .seemore:before {
        background-size: 2.142rem;
    }

    .hotline span,
    .seemore span {
        margin-right: -0.5rem;
    }

    .facebook {
        padding-left: 2.5rem;
    }
}

/* Smaller than standard 1024 */
@media only screen and (max-width: 1024px) {
    html {
        font-size: 10px;
    }

    header {
        background: url(../img/background_header.png) no-repeat;
        background-position-y: bottom;
        background-position-x: center;
        padding-bottom: 9vw;
    }

    .image:before {
        top: 75%;
        background-size: 100%;
    }

    .item:before {
        top: 75%;
        background-size: 100% 40%;
    }

    .avatar-5D img, .avatar-4D img {
        width: 33%;
    }

    .website:before, .facebook:before, .hotline:before, .seemore:before {
        background-size: 2rem;
    }
}

/* Tablet Portrait Size */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    header {
        background: url(../img/background_header.png) no-repeat;
        background-position-y: bottom;
        background-position-x: center;
        padding-bottom: 7vw;
    }

    .logo {
        width: 40%;
        float: left;
    }

    .header-right {
        width: 60%;
        float: left;
    }

    .lucky {
        width: 30%;
        float: left;
    }

    .dream {
        width: 70%;
        float: right;
    }

    .image:before {
        top: 80%;
        background-size: 100%;
    }

    .item:before {
        top: 80%;
        background-size: 100% 30%;
    }

    .date {
        width: 60%;
        float: left;
    }

    .chanel .label {
        width: 20%;
        float: left;
    }

    .chanel .col-md-10 {
       width: 80%;
       float: right; 
    }

    .chanel-item {
        width: 50%;
        float: left;
    }

    .chanel-item .result-4d {
        margin-left: 5.3rem;
    }

    .website, .facebook, .hotline, .seemore {
        width: 25%;
        float: left;
    }

    /*.chanel-item .result-5d, .chanel-item .result-4d {
        font-size: 1.8125rem;
    }*/
    footer {
        margin-top: 1rem;
    }
}

/* All Mobile Sizes */
@media only screen and (max-width: 767px) {
    html {
        font-size: 10px;
    }

    .logo {
        width: 40%;
        float: left;
    }
    .header-right {
        width: 60%;
        float: left;
    }

    .lucky {
        float: left;
        width: 30%;
    }

    .dream {
        width: 70%;
        float: right;
    }

    .lucky img {
        width: 90%;
    }

    .logo img {
        margin-top: 1rem;
    }

    .date {
        width: 60%;
        float: left;
    }

    .chanel .label {
        width: 20%;
        float: left;
    }

    .chanel .col-md-10 {
        width: 80%;
        float: right;
    }

    .chanel-item {
        width: 50%;
        float: left;
    }

    footer .col-md-3 {
        width: 25%;
        float: left;
    }
}

/* Mobile Landscape Size */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    header {
            background: url(../img/background_header.png) no-repeat;
            background-position-y: bottom;
            background-position-x: center;
            padding-bottom: 10vw;
    }

    .date-time .date label, .date-time .time label {
        padding-left: 15px;
    }

    .chanel .label span {
        margin-left: 15px;
    }

    .chanel .label img {
        margin-left: 15px;
    }

    .image:before {
        top: 75%;
        background-size: 100%;
    }

    .item:before {
        top: 70%;
        background-size: 100% 25%;  
    }

    .chanel-item .result-5d span, .chanel-item .result-4d span {
        padding: 1rem 1rem;
    }

    .chanel-item .result-4d {
        margin-top: 3rem;
        margin-left: 4.2rem;
    }

    .hotline:before {
        left: 25%;
    }

    .seemore:before {
        left: 25%;
    }
}

/* Mobile Portrait Size */
@media only screen and (max-width: 599px) {
    html {
        font-size: 5px;
    }

    header {
        background: url(../img/background_header.png) no-repeat;
        background-position-y: bottom;
        background-position-x: center;
        padding-bottom: 10vw;
    }
    .date-time .date label, .date-time .time label {
        padding-left: 15px;
    }

    .chanel .label span {
        margin-left: 15px;
    }

    .chanel .label img {
        margin-left: 15px;
    }
    .image:before {
        top: 80%;
        background-size: 95%;
    }

    .item:before {
        top: 80%;
        background-size: 100% 40%;
    }

    .avatar-5D img, .avatar-4D img {
        width: 28%;
    }

    .website:before, .facebook:before, .hotline:before, .seemore:before {
        background-size: 2rem;
    }

    .website, .facebook, .hotline, .seemore {
        font-size: 2.375rem;
    }
    
}

@media only screen and (max-width: 479px) {
    html {
        font-size: 5px;
    }

    header {
        background: url(../img/background_header.png) center no-repeat;
        background-size: cover;
    }

    .date-time .date label, .date-time .time label {
        padding-left: 15px;
    }

    .chanel .label span {
        margin-left: 15px;
    }

    .chanel .label img {
        margin-left: 15px;
    }

    .chanel-item .result-5d span, .chanel-item .result-4d span {
        padding: 1rem 1rem;
        margin-left: 0rem;
    }

    .chanel-item .result-4d {
        margin-left: 3.8rem;
        margin-top: 3rem;
    }

    .hotline:before,
    .seemore:before {
        left: 3.25rem;
    }

    .logo {
        width: 100%;
    }

    .header-right {
        width: 100%;
        margin-bottom: 15px;
    }

    .item:before {
        top: 70%;
        background-size: 100% 50%;;
    }

    .image:before {
        top: 70%;
        background-size: 100%;
    }

    .hotline, .seemore {
        text-align: inherit;
    }

    .hotline:before, .seemore:before {
        left: 0%;
    }

    .avatar-5D {
        margin-top: 2.25rem;
    }

    .avatar-5D img, .avatar-4D img {
        width: 32%;
    }

    footer .col-md-3 {
        width: 50%;
        margin-bottom: 10px;
    }
}

@media only screen and (max-width: 345px) {
    html {
        font-size: 5px;
    }

    .avatar-5D {
        margin-top: 2.25rem;
    }

    .chanel-item .result-5d, .chanel-item .result-4d {
        font-size: 1.8125rem;
    }

    .avatar-5D img, .avatar-4D img {
        width: 40%;
    }

    .chanel-item .result-4d {
        margin-left: 3rem;
    }

    .date-time .date label, .date-time .time label {
        padding-left: 15px;
    }

    .chanel .label span {
        margin-left: 15px;
    }

    .chanel .label img {
        margin-left: 15px;
    }

}
 
/* Retina Devices */
@media only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {

}